<div class="m-auto col-10 shadow">
  <h4 class="p-2 m-0 active bg-secondary text-white" aria-current="true">
    Contacts list
    <input
      class="form-control mr-sm-2 form-inline my-2 my-lg-0 col-3 d-inline-block"
      type="search"
      placeholder="Search"
      aria-label="Search"
      #searchInput (input)="searchContact()"
    >
  </h4>
  <div>
    <div class="row ml-2 p-2 font-weight-bold">
      <div class="col">Name</div>
      <div class="col">Email</div>
      <div class="col">Website</div>
      <div class="col">Phone</div>
    </div>
    <ul class="list-group item">
      <li *ngFor="let user of users" [routerLink]="[user.id, 'edit']" (click)="getUserIndex(user.id)"
        class="tbl row m-0 border-bottom">
        <span class="col-3">{{user.name}}</span>
        <span class="col-3">{{user.email}}</span>
        <span class="col-3">{{user.website}}</span>
        <span class="col-3">{{user.phone}}</span>
      </li>
    </ul>
  </div>
</div>

<nav aria-label="Page navigation example" class="mt-5">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>



