.shadow{
  padding: 0;
}

h4{
  border-radius: 7px 7px 0 0;
}

.tbl{
  cursor: pointer;
  background-color: whitesmoke;
  font-size: 1em;
  transition: 0.3s;
}

.tbl:hover{
  background-color: #e0e0e0;
}

input{
  margin-left: 60%;
}

.hide{
  display: none;
}

li{
  list-style: none;
  padding: 10px;
}

svg:hover{
  border-radius: 3px;
  box-shadow: 0 0 10px 1px grey;
}



