form{
  border: 1px solid #e0e0e0;
  padding: 30px 15px;
  box-shadow: 0 0 6px 1px lightgrey;
  border-radius: 10px;
}

form:hover{
  box-shadow: 0 0 6px 5px lightgrey;
}

input{
  margin: 0 auto;
  width: 75%;
  transition: 0.5s;
}

input:focus{
  width: 80%;
}

button:hover{
  box-shadow: 0 2px 6px 5px lightgrey;
}
